body {
  background-color: blanchedalmond;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  background-color: aliceblue;
  /* width: 800px;   Causes blurry canvas
  height: 600px; */
}

.turtle-canvas {
  position: absolute;
}

.input-div {
  display: flex;
}

.turtle-input {
  width: 730px;
  height: 80px;
  resize: none;
}

button {
  width: 70px;
  text-align: center;
}

.turtle-submit {
  height: 50px;
}

.turtle-save {
  height: 30px;
}